// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
$header-border: #e8e8e9 !default;

.site-header {
  position: relative;
  padding: rem-calc(12 0);
  border-bottom: 1px solid $header-border;
  background-color: $white;

  .site-title {
    margin-bottom: 0;
    padding-right: rem-calc(24);
    font-size: rem-calc(21);
    font-weight: 700;
    line-height: 2.6;
    color: $body-font-color;
    text-transform: none;

    @include breakpoint(medium up) {
      border-right: 1px solid $header-border;
      line-height: 1.8;
    }

    & > a {
      color: $header-color;
    }
  }

  .site-description {
    display: none;
  }
}

.wp-custom-logo {
  .site-title {
    display: none;
  }

  .custom-logo-link {
    display: block;

    @include breakpoint(medium up) {
      border-right: 1px solid $header-border;
    }
  }

  .custom-logo {
    max-width: 42px;
    height: auto;
    margin-right: rem-calc(24);

    @include breakpoint(medium up) {
      max-width: 30px;
    }
  }
}

.off-canvas-toggle.clear.button {
  color: $header-color;

  @include on-event() {
    opacity: 0.6;
  }
}
